{% extends "terminimal/templates/page.html" %}
{% import "macros/style.html" as style %}

{% block extra_head %}
{{ style::head() }}

{% if page.extra.math %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$', '$']]
        },
    })
</script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
{% endif %}

<meta name="og:title" content="{{ page.title }}">
<meta name="og:description" content="{{ page.summary }}">
{% endblock %}

{% block title %}
{{ page.title }} | RoccoDev
{% endblock %}