{% extends "page.html" %}

{% block content %}
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    {{ post_macros::content(page=page, summary=false) }}

    {% set section = get_section(path="blog/_index.md") %}
    <h1 class="post-title">Research archive</h1>
    <ul>
        {%- for page in section.pages %}
        {%- if page.draft or "xenoblade" not in page.taxonomies.tags %}
        {% continue %}
        {% endif -%}
        <li class="post-list">
            <a href="{{ page.permalink | safe }}">
                <span class="post-date">{{ page.date }}</span>
                :: <span class="post-list-title">{{ page.title }}</span></a>
        </li>
        {% endfor -%}
    </ul>
</div>
{% endblock content %}